<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_StaticAssetsCache>
            <version>0.0.1</version>
        </Hackathon_StaticAssetsCache>
    </modules>
    <global>
        <blocks>
            <page>
                <rewrite>
                    <html_head>Hackathon_StaticAssetsCache_Block_Html_Head</html_head>
                </rewrite>
            </page>
            <hackathon_staticassetscache>
                <class>Hackathon_StaticAssetsCache_Block</class>
            </hackathon_staticassetscache>
        </blocks>
        <helpers>
            <hackathon_staticassetscache>
                <class>Hackathon_StaticAssetsCache_Helper</class>
            </hackathon_staticassetscache>
        </helpers>
        <models>
            <hackathon_staticassetscache>
                <class>Hackathon_StaticAssetsCache_Model</class>
            </hackathon_staticassetscache>
        </models>
        <cache>
            <types>
                <static_assets translate="label,description" module="core">
                    <label>Static Assets</label>
                    <description>CSS, JavaScript</description>
                    <tags>STATIC_ASSETS</tags>
                </static_assets>
            </types>
        </cache>
    </global>
</config>